  .app-header {
    background: #a80f23;
    height: 32vh;
  }  

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }
